@charset "UTF-8";
//存放一些用到的函数

//设置渐变背景（锐度）  -单色
@mixin setGradientBg($color,$deg){
	background-color: $color;
	background: linear-gradient(
		$deg,
		lighten($color,10) 20%,
		lighten($color,5) 0,
		lighten($color,5) 50%,
		$color 0
	);
}
//设置渐变背景（平滑）  -单色
@mixin setGradientBg_Smooth($color,$deg){
	background-color: darken($color,5);
	background: linear-gradient(
         $deg,
		 lighten($color,10) 10%,
		 $color 30%,
		 darken($color,10) 60%,
		 darken($color,20)
	);	
}
//设置渐变背景（平滑） -- 双色
@mixin setGradientBg_db($color1,$color2,$deg){
	background-color: mix($color1,$color2);
	background: linear-gradient(
		$deg,
		$color1 30%,
		$color2 100%
	);
}