@charset "UTF-8";
//设置经常要用到的变量
$COLOR_BLUE:#2365A9;
$COLOR_BLUE_SEC:#418FD3;

$COLOR_GREEN:#237b80;
$COLOR_GREEN_SEC:#32A79C;

$COLOR_PRIMARY:#2365A9;
$COLOR_INFO:#26A1BD;
$COLOR_SUCCESS:#50B173;
$COLOR_DANGER:#D94747;
$COLOR_WARN:#FFA500;

$navFontColor:#F2F2F2;

$COLOR_NEW_BLUE:#487bd6;
$COLOR_NEW_BLUE_GRA:#5eedce;

$COLOR_NEW_GREEN:#44c1bb;
$COLOR_NEW_GREEN_GRA:#27b4ff;   