<section class="data-list-title">
    {{ 'executive.list_event.title' | translate}}
</section>
<ul class="LogicUI">
    <li>
        <div class="Logicdrop  animated flipInX">
            <div class="data-list " title="{{ 'executive.list_event.add' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">+</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.minus' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">-</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.time' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">*</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.divided' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">/</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <!-- 逻辑模块控件 -->
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.equal' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">=</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.notEqual' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">!=</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>

        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.greaterThan' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">></div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.smallerThan' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">
                    <</div>
                        <div contenteditable="false" class="input vardroop"></div>
                </div>
            </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.and' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">{{ 'executive.list_event.and' | translate}}</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>

        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.or' | translate}}">
                <div contenteditable="false" class="input vardroop"></div>
                <div class="relation">{{ 'executive.list_event.or' | translate}}</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="Logicdrop animated flipInX">
            <div class="data-list" title="{{ 'executive.list_event.out' | translate}}">
                <div class="relation">{{ 'executive.list_event.out' | translate}}</div>
                <div contenteditable="false" class="input vardroop"></div>
            </div>
        </div>
    </li>
</ul>