<section class="data-list-title">
    <header>
        {{ 'executive.list_logic.title' | translate}}
    </header>
</section>
<ul class='Dispose-Content'>
    <li>
        <div class="draggable draggable-Function ui-draggable">
            <div class="Function-row " title="IF">
                <div class="Function-content FunctionChilds FuncbackgroundColor" title="IF">
                    <div class="Foncution-div" title="{{ 'executive.list_logic.if' | translate}}">
                        <label class="Function-span-left">{{ 'executive.list_logic.if' | translate}}</label>
                        <div class="Function-data-list Content Dom"></div>
                        <label span class="Function-span-right">{{ 'executive.list_logic.then' | translate}}</label>
                    </div>
                    <div class="FoncutionHeigth" title="{{ 'executive.list_logic.then' | translate}}">
                        <div class="Function-drop-div Content Dom"></div>
                    </div>

                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="draggable draggable-Function">
            <div class="Function-row" title="IF-Eles">
                <div class="Function-content-or FunctionChilds FuncbackgroundColor" title="IF-Eles">
                    <div class="Foncution-div" title="{{ 'executive.list_logic.if' | translate}}">
                        <label class="Function-span-left">{{ 'executive.list_logic.if' | translate}}</label>
                        <div class="Function-data-list Content Dom"></div>
                        <label span class="Function-span-right">{{ 'executive.list_logic.then' | translate}}</label>
                    </div>
                    <div class="FoncutionHeigth" title="{{ 'executive.list_logic.then' | translate}}">
                        <div class="Function-drop-div Content Dom"></div>
                    </div>
                    <div class="Foncution-or" title="{{ 'executive.list_logic.else' | translate}}">
                        <label class="Function-span-or">{{ 'executive.list_logic.else' | translate}}</label>
                        <div class="Function-drop-div Content Dom"></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="draggable draggable-Function ">
            <div class="Function-row" title="Inquire">
                <div class="Function-content FunctionChilds FuncbackgroundColor" title="Inquire">
                    <div class="Foncution-div" title="{{ 'executive.list_logic.inquire' | translate}}">
                        <label class="Function-span-left paddingright">{{ 'executive.list_logic.inquire' | translate}}</label>
                        <div class="Function-data-list Content Dom"></div>
                    </div>
                    <div class="FoncutionHeigth" title="{{ 'executive.list_logic.exc' | translate}}">
                        <div class="Function-drop-div Content Dom"></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="draggable draggable-Function ">
            <div class="Function-row" title="Repeated">
                <div class="Function-content FunctionChilds FuncbackgroundColor" title="Repeated">
                    <div class="Foncution-div" title="{{ 'executive.list_logic.repeated' | translate}}">
                        <label class="Function-span-left ">{{ 'executive.list_logic.if' | translate}}</label>
                        <div class="Function-data-list Content Dom"></div>
                        <label span class="Function-span-right">{{ 'executive.list_logic.repeated' | translate}}</label>
                    </div>
                    <div class="FoncutionHeigth" title="{{ 'executive.list_logic.exc' | translate}}">
                        <div class="Function-drop-div Content Dom"></div>
                    </div>

                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="draggable draggable-Function ">
            <div class="Function-row" title="RepeatedNumber">
                <div class="Function-content FunctionChilds FuncbackgroundColor" title="RepeatedNumber">
                    <div class="Foncution-div" title="{{ 'executive.list_logic.repeatedNumber' | translate}}">
                        <label class="Function-span-left">{{ 'executive.list_logic.repeated' | translate}}</label>
                        <div class="Function-data-list Content Dom Repeated" contenteditable="true"></div>
                        <label span class="Function-span-right">{{ 'executive.list_logic.number' | translate}}</label>
                    </div>
                    <div class="FoncutionHeigth" title="{{ 'executive.list_logic.exc' | translate}}">
                        <div class="Function-drop-div Content Dom"></div>
                    </div>

                </div>
            </div>
        </div>
    </li>

    <li>
        <div class='draggable inputText' title="{{ 'executive.list_logic.conditName' | translate}}">
            <div class="inputText FunctionChilds" title="{{ 'executive.list_logic.conditName' | translate}}">
                <label class="control-label labelName">{{ 'executive.list_logic.conditName' | translate}}:</label>
                <div contenteditable="true" class="ExecuteField Content"></div>
            </div>
        </div>
    </li>
    <li>
        <div class='draggable inputText' title="{{ 'executive.list_logic.until' | translate}}">
            <div class="inputText FunctionChilds" title="{{ 'executive.list_logic.until' | translate}}">
                <label class="control-label labelName">{{ 'executive.list_logic.until' | translate}}:</label>
                <div contenteditable="true" class="ExecuteField Content"></div>
            </div>
        </div>
    </li>
    <li>
        <div class='draggable inputText' title="{{ 'executive.list_logic.exc' | translate}}">
            <div class="inputText FunctionChilds" title="{{ 'executive.list_logic.exc' | translate}}">
                <label class="control-label labelName">{{ 'executive.list_logic.exc' | translate}}:</label>
                <div contenteditable="true" class="ExecuteField Content"></div>
            </div>
        </div>
    </li>
</ul>